/*****************************************************************************
  firstApp
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
$visual-grid: true;
$visual-grid-color: green;
$gril-columns: 12;
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
* {
  box-sizing: border-box;
}
.main {
	@include outer-container;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}



/*****************************************************************************
  Layout Styles
******************************************************************************/
.nav {
	width: 100%;
	.toggleButton {
		width: 30px;
		height: 30px;
	}
  .menu {
  	  margin: 0;
	  padding-left: 0;
	.item {
		height: 3rem;
		width: 100%;
		padding-top: 1rem;
		/*display: inline-block;
		@include span-columns(3);
        @include omega(4n);*/
	}
  }
}
.product_container {
	width: 100%;
	.product_panel {
		.nav_pill {
			@include span-columns(2);
			@include omega(3n);
		}
	}
	#product_indicator {
		width: 0;
	    height: 0;
	    border-top: 50px solid red;
	    border-right: 50px solid transparent;
	    margin: 0;
	    position: absolute;
	    p {
	    	position: relative;
	    	top: -49px;
	    	margin: 0;
	    }
	}
	.panel {
		clear: both;
	}
	/*@include outer-container;
	.product_detail {
	    @include span-columns(4);
        @include omega(5n);
	}*/
}
.review_stars {
	display: block;
	width: 100%;
	border-radius: 5px;
}
.review_body {
	display: block;
	width: 100%;
	border-radius: 5px;
}
.review_author {
	display: block;
	width: 100%;
	border-radius: 5px;
}



/*****************************************************************************
  Module Styles
******************************************************************************/
.nav {
	text-align: center;
	    .toggleButton {
	    	border: 2px solid black;
	    }
        .toggleButton span,
        .toggleButton span:before,
        .toggleButton span:after {
  			cursor: pointer;
  			height: 2px;
  			width: 28px;
  			background: #FFFFFF;
  			position: absolute;
  			display: block;
  			content: '';
			}
		.toggleButton span:before {
  			margin-top: -6px;
			}
		.toggleButton span:after {
  			margin-top: 6px;
			}	
  .menu {
	.item {
		text-align: center;
		list-style: none;
		background-color: white;
		border-bottom: 2px solid black;
	}
	a {
		text-decoration: none;
		color: black;
	}
  }
}
.product_detail {
	margin-top: 20px;
	text-align: center;	
	.product_price {
		margin-left: 60%;
	}
	.purchaseButton {
		margin-left: 60%;
		border-radius: 5px;
	}
	.product_image {
		width: 90%;
		height: 90%;
	}
	.product_nav {
		padding-left: 0;
		padding-bottom: 1rem;
		.nav_pill {
		    text-align: center;
		    list-style: none;
		    display: inline-block;
		    a {
			    text-decoration: none;
			    color: black;
		    }
		}
	}
}
.active {
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.product_panel {
	background-color: gray;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	.product_nav {
		margin: 0;
	}
	.panel {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 20px;
		border: 2px solid black;
	}
}
.exitting_review {
	text-align: left;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}