<!doctype html>
<html lang="en" ng-app="store">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>firstApp</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize-css/normalize.css">
    
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">

    
  </head>

  <body>
    <!--the title of the shop-->
    <div class="shopName">
      <h2 class="title">The Lurxy Watch Shop</h2>
    </div>
    <div class="main">
      <!--the nav-->
      <div class="nav">
        <div class="toggleButton"><span></span></div>
        <ul class="menu">
          <li class="item"><a href="">Home</a></li>
          <li class="item"><a href="">Products</a></li>
          <li class="item"><a href="">Press</a></li>
          <li class="item"><a href="">Contacts</a></li>
        </ul>
      </div>
      <!--product listing-->
      <div class="product_container" ng-controller="StoreController as store">
        <div class="product_detail" ng-repeat="product in store.products">
          <div class="product_brand">
            <div id="product_indicator" ng-show="product.indicator">
              <p>{{product.status}}</p>
            </div>
            {{product.brand}}
          </div>
          <p class="product_modle">{{product.modle}}</p>
          <img class="product_image" ng-src="{{product.images[0].full}}">
          <p class="product_price">{{product.price | currency}}</p>
          <!--interactive products details-->
          <div class="product_panel" ng-controller="PanelController as panel">
            <ul class="product_nav">
              <li class="nav_pill" ng-class="{ active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
              <li class="nav_pill" ng-class="{ active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
              <li class="nav_pill" ng-class="{ active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
              <h4>Description</h4>
              <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
              <h4>Specifications</h4>
              <blockquote>None yet</blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
              <h4>Reviews</h4>
              <blockquote class="exitting_review" ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}<br>
                <cite>by: {{review.author}}</cite>
              </blockquote>
              <form name="reviewForm" class="product_review" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                <p>
                  <b>Stars: {{reviewCtrl.review.stars}}</b>
                </p>
                <p>{{reviewCtrl.review.body}}</p>
                <p>
                  <cite>by: {{reviewCtrl.review.author}}</cite>
              </p>
              <p>Write your review here!</p>
                <select class="review_stars" ng-model="reviewCtrl.review.stars" required>
                  <option value="1">1 star</option>
                  <option value="2">2 stars</option>
                  <option value="3">3 stars</option>
                  <option value="4">4 stars</option>
                  <option value="5">5 stars</option>
                </select>
                <textarea class="review_body" ng-model="reviewCtrl.review.body" required>Write something.</textarea>
                <label>by:</label>
                <input class="review_author" ng-model="reviewCtrl.review.author" type="email" required/>
                <div>reviewForm is {{reviewForm.$valid}}</div>
                <input type="submit" value="Submit" /> 
              </form>
            </div>            
          </div>
          <button class="purchaseButton" ng-show="product.canPurchase">Add to cart</buttoon>
        </div>
      </div>
    </div>
    <footer></footer>
    <!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="scripts/main.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
