<!doctype html>
<html lang="en" ng-app="store">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>firstApp</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize-css/normalize.css">
    
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">

    
  </head>

  <body>
    <div class="main">
      <div class="nav">
        <div class="toggleButton"><span></span></div>
        <ul class="menu">
          <li class="item"><a href="">Home</a></li>
          <li class="item"><a href="">Products</a></li>
          <li class="item"><a href="">Press</a></li>
          <li class="item"><a href="">Contacts</a></li>
        </ul>
      </div>
      <div class="product_container" ng-controller="StoreController as store">
        <div class="product_detail" ng-repeat="product in store.products">
          <div class="product_brand">
            <div id="product_indicator" ng-show="product.indicator">
              <p>{{product.status}}</p>
            </div>
            {{product.brand}}
          </div>
          <p class="product_modle">{{product.modle}}</p>
          <img class="product_image" ng-src="{{product.images[0].full}}">
          <p class="product_price">{{product.price | currency}}</p>
          <div class="product_panel" ng-controller="PanelController as panel">
            <ul class="product_nav">
              <li class="nav_pill" ng-class="{ active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
              <li class="nav_pill" ng-class="{ active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
              <li class="nav_pill" ng-class="{ active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
              <h4>Description</h4>
              <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
              <h4>Specifications</h4>
              <blockquote>None yet</blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
              <h4>Reviews</h4>
              <blockquote>None yet</blockquote>
            </div>            
          </div>
          <button class="purchaseButton" ng-show="product.canPurchase">Add to cart</buttoon>
        </div>
      </div>
    </div>
    <footer></footer>
    <!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="scripts/main.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
